body{
    margin: 0px;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.forme{
    border: solid burlywood;
    text-align:center;
    
    font-size: 30px;
    font-family: "cookie";
    padding: 5px;
    margin: 0px;
    position: absolute;
    margin-left: 23%;
    margin-top: 6%;
    left: 0px;
    top: 50px;
    color:rgb(176, 238, 41);
}

form div li {
 list-style: none;
    
}
